---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404" description="Oops, this is an invalid link!" url="">
  <main>
    <h1>404</h1>
    <p>Oops, this is an invalid link!</p>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
